*{padding: 0;
margin:0;
box-sizing: border-box;}

body{background-color:#ccc;}

.container{
max-width: 900px;
margin:auto;
margin-top: 60px;
}

.content_box{
padding:20px;
max-width:600px;
margin:0 auto;
border-radius:10px;
background-color:white ;
}

h1{
margin-bottom:15px;
}
.small_title{
font-size:20px;
}

.form_container{
display:grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
gap: 20px;
box-shadow:4px 3px 5px rgba( 1 1 1 0.2);}

.form_control{
display:flex;
flex-direction: column;
}

input,select{
    padding:6px 10px;
    border:1px solid #ccc;
    font-size:15px;
    border-radius: 4px;
}

label{
    font-size:15px ;
    margin-bottom: 5px;
}

input:focus{outline-color: red;}

.textarea_control{
    grid-column:1/span 2;
}

.textarea_control textarea{
    font-size: 15px;
    width: 100%;
    border:1px solid #ccc;
    border-radius: 4px;
}

@media (max-width:460) {
    .textarea_control{
        grid-column:1/span 1;
    }
}

.button_box{
    margin-top: 25px;
    display:flex;
    justify-content:flex-end ;
}
button{
    background-color:red;
    border-radius:8px;
    border:transparent solid 2px;
    color:white;
    padding:7px;
    cursor:pointer;
    transition:0.3s ease-in ;

}

button:hover{
    background-color: #ccc;
    color:black;
    border:2px solid red;
    transition: 0.3s ease-in-out ;
}