*{padding:0;
margin:0;box-sizing: border-box;
}

body{overflow-x: hidden;}
 h1{font-family: "Dancing Script", cursive}

 .carousel-item{height:100vh; width:100%}

 .card-body{min-width:50%;max-width:200px;}