*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color:#e5e5fd;
    min-height: 100vh;
    border: 10px solid black;
}

.content{
    margin: 0 auto;
    max-width:900px;
}

.top{
    display:flex;
    justify-content:space-between;
    margin-top: 100px;
    align-items: flex-end;
}

.top h1{
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-transform:uppercase;
    margin-left:30px;
}

 h4{
    font-size: 30px;
    text-align:end;
    margin-right:80px;
}
 
image{
    height:400px;
    width: 300px;
    /* object-fit:cover;
    object-position:center; */
    
}


.image,img {border-radius:50px;
}

.about{
    margin-top:50px;
}

.about h1{
    font-size:70px;
    font-weight: 300;
    margin-bottom:20px;

}

.about p{
    font-size:20px;
    letter-spacing:1.2px;
    line-height: 30px;
    text-align: justify;
}

.biography{
    margin:50px 0;
}
.biography h3{
     font-size: 30px;
     font-weight: 500;
     margin-bottom:20px;
}
ul{
    margin-left: 50px;
}
li{line-height:30px;}

footer{
    text-align: end;
}


@media (max-width:944px){ body{padding:auto;margin: auto;font-size: auto;
} .image{height: auto;width: auto;margin-left:3px ;}  .about h1{font-size:35px;
    word-wrap: break-word;
    box-sizing: border-box;}
    #title {font-size:35px;}.top{display: block;}.content{margin:5px;}
}
